@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Latest News</h1>
</div>

<br />

<div class="container">
    @foreach (var article in ViewBag.NewsList)
    {
        <br>
        <h2 class="news">@article.Title</h2>

        <p class="news">@article.Date.ToShortDateString()</p>

        <p class="news">@article.Category</p>

        <p class="news">@article.HeadLine</p>

        <img class="photo" src="~/imag/@article.Photo" style="max-width:700px; height:300px;" />

        <br>
        <a href="@Url.Action("Details", "Articles", new { id = article.Id })">Read more</a>
        

    }
</div>
