@model proj.Models.CategoryModel

@{
    ViewData["Title"] = Model.CategoryName;
}

<div class="text-center">
    <h2>@Model.CategoryName</h2>

    <p>
        Sort by:
        <a asp-route-id="@Model.Id" asp-route-sortOrder="@ViewBag.TitleSortParm" class="news-readmore">Title</a> |
        <a asp-route-id="@Model.Id" asp-route-sortOrder="@ViewBag.DateSortParm" class="news-readmore">Date</a>
    </p>

</div>

<div class="news-container">
    @foreach (var article in Model.Articles)
    {
        <div class="news-article">
            <h3 class="news-title">@article.Title</h3>
            <p class="news-date"><small>@article.Date.ToShortDateString()</small></p>
            <p class="news-headline">@article.HeadLine</p>
            @if (!string.IsNullOrEmpty(article.Photo))
            {
                <img src="~/imag/@article.Photo" alt="Article Image" class="news-photo" />
            }

            <a href="@Url.Action("Details", "Articles", new { id = article.Id })" class="news-readmore">Read more</a>
        </div>
    }
</div>
